body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  
    font-family: 'Poppins', sans-serif;
  }
  
  .hc{
    color: #e02c6d;
  }
  .header-title,
  .header-img {
    width: 50%;
  }
  .header {
    background-color: #1e0397;
    margin-bottom: 55px;
    padding-bottom: 65px;
  }
  nav ul {
    display: flex;
    padding-left: 156px;
    padding-top: 42px;
    padding-right: 124px;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
  }
  .navigation {
    display: flex;
  }
  nav ul li {
    list-style: none;
    padding-right: 36px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  .login-button {
    background-color: #e02c6d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .login-button li {
    padding-right: 0;
  }
  .login-button li .fa-sign-in-alt {
    padding-right: 5px;
  }
  
  .htm{
    display: flex;
    padding-bottom: 5px;
    overflow: hidden;
  }
  
  .header-title h1 {
    font-size: 60px;
    color: white;
    margin-left: 156px;
    line-height: 70px;
    align-items: center;
    padding-top: 120px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  button {
    background-color: #e02c6d;
    border: none;
    padding: 15px 24px;
    margin-left: 156px;
    border-radius: 5px;
  }
  button a,
  .fas {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  button .fa-arrow-right {
    margin-left: 5px;
  }
  .header-img:hover img {
    transform: scale(1.3);
    transition: transform 2s ease-in-out;
  }
  .header-img img {
    width: 470px;
    height: 400px;
    padding-top: 60px;
    padding-left: 60px;
  }
  .Arb{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .blog {
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.192);
    border-radius: 5px;
  
    width: 250px;
    height: 370px;
    padding: 15px 15px 30px 15px;
    margin-bottom: 27px;
    margin-right: 30px;
  }
  .bi img {
    width: 100%;
    border-radius: 5px;
  }
  
  .bd {
    width: 250px;
  }
  .bd h2 {
    margin-top: 14px;
    margin-bottom: 10px;
  }
  .bd p {
    font-size: 14px;
    margin-bottom: 0px;
    color: #6c6c6c;
    font-weight: 400;
  }
  .live-matches {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .match-details {
    display: flex;
  }
  .match-img img {
    border-radius: 10px;
  }
  .match-info {
    margin: auto 30px;
  }
  .highlights {
    margin-top: 100px;
    display: flex;
    margin-bottom: 75px;
  }
  .left-col,
  .right-col {
    width: 50%;
  }
  .left-col {
    margin-left: 20px;
  }
  .highlights-description {
    width: 70%;
    padding-left: 136px;
  }
  .right-col .highlights-img {
    width: 567px;
    height: 427px;
  }
  .right-col .highlights-img img {
    width: 90%;
    border-radius: 5px;
  }
  .highlights-description p {
    font-size: 14px;
    margin-right: 0;
    color: #6c6c6c;
  }
  
  .highlights-description .title h1 {
    font-size: 42px;
    margin-bottom: 10px;
    line-height: 60px;
  }
  .highlights-description button {
    margin-left: 0;
    margin-top: 10px;
  }
  
  .player-info {
    background-color: rgba(211, 211, 211, 0.445);
    border-radius: 5px;
    box-shadow: 2px 2px 40px gray;
    margin: 0 15px 60px 15px;
    padding: 15px;
  }
  
  .player-img img {
    border-radius: 5px;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-img img {
    width: 450px;
  }
  .copyright {
    margin-bottom: 30px;
  }
  @media only screen and (max-width: 667px) {
    .header-img {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
    .header-img img {
      width: 80%;
      padding-left: 0;
      height: auto;
    }
    .blogs {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .right-col .highlights-img {
      width: 300px;
      height: auto;
    }
    .highlights {
      margin-top: 120px;
      display: flex;
      margin-bottom: 80px;
      flex-direction: column;
    }
    nav ul {
      display: none;
      display: block;
      padding-left: 0;
      padding-right: 0;
    }
    .navigation {
      display: none;
    }
    .login-button {
      display: none;
    }
    .header-title-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    button {
      margin-left: 30px;
    }
    .htm {
      display: flex;
      flex-direction: column;
    }
    .header-title h1 {
      margin-left: 30px;
      text-align: center;
      padding-top: 30px;
      font-size: 36px;
      line-height: normal;
    }
    .header-title,
    .header-img {
      width: 90%;
    }
    .blog {
      margin-right: 0;
    }
    .match-info {
      padding-right: 20px;
    }
    .highlights {
      margin-top: 60px;
      display: flex;
      margin-bottom: 80px;
      flex-direction: column;
      align-items: center;
    }
    .highlights-description {
      width: 100%;
      padding-left: 0px;
    }
    .highlights-description .title h1 {
      font-size: 30px;
      line-height: normal;
    }
    .highlights-description .highlight-button {
      margin-left: 35px;
    }
    .right-col .highlights-img img {
      width: 90%;
      margin-top: 30px;
      border-radius: 5px;
    }
    .player-info {
      margin-bottom: 30px;
    }
    .footer-img img {
      width: 350px;
    }
  }
  